html, body {
  background: $white;
}

.block {
  margin: rem-calc(100 0);
}

.has-background {
  margin: 0;
  padding: rem-calc(100 0)
}

.bg-gray {
  background: $light-gray;
}

.bg-primary {
  background: $primary-color;
}

.bg-secondary {
  background: $secondary-color;
}