<footer>
  <div class="divider"></div>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell auto">
        <div class="footer-top">
          <a href="#">
            <i class="icon fi-social-instagram"></i>
          </a>
          <a href="#">
            <i class="icon fi-social-linkedin"></i>
          </a>
          <a href="#">
            <i class="icon fi-social-twitter"></i>
          </a>
          <a href="#">
            <i class="icon fi-social-youtube"></i>
          </a>
          <a href="#">
            <i class="icon fi-social-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell auto">
        <div class="footer-bottom">
          <a href="#" title="Privacy">Privacy</a>
          <a href="#" title="Algemene voorwaarden">Algemene voorwaarden</a>
          <a href="#" title="Disclaimer">Disclaimer</a>
          <a href="#" title="Cookies">Cookies</a>
          <div class="made-by">
            <a href="https://www.ivengi.com/" title="Made by Ivengi" target="_blank" rel="nofollow">Made by ivengi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
