<header class="headerbar js-header" data-sticky-container>
  <div class="grid-container">
    <div class="title-bar" data-sticky data-margin-top="0" data-sticky-on="small" data-check-every=0 data-off-canvas-sticky>
      <div class="title-bar-left">
        <div class="logo ease">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="logo" id="logo" class="ease clickable">
          </a>
        </div>
      </div>
      <div class="title-bar-right">
        <nav class="navigation">
          <ul class="dropdown menu align-right hide-for-small-only" data-dropdown-menu>
            <li>
              <a href="#" class="navigation-link">
                <span><i class="fi-ticket"></i> Tickets</span>
              </a>
            </li>
            <li>
              <a href="#" class="navigation-link">
                <span><i class="fi-magnifying-glass"></i> Zoeken</span>
              </a>
            </li>
            <li>
              <a class="navigation-link">
                <span><i class="fi-web medium"></i> Talen</span>
              </a>
              <ul class="menu nested">
                <li>
                  <a href="#">English</a>
                </li>
                <li>
                  <a href="#">Nederlands</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="mobile-menu-wrap show-for-small-only" aria-hidden="true">
            <button class="mobile-menu-button float-right" type="button" data-toggle="offCanvasRight">
            <span class="mobile-menu-icon">
              <span class="mobile-menu-icon-bar"></span>
              <span class="mobile-menu-icon-bar"></span>
              <span class="mobile-menu-icon-bar"></span>
              <span class="mobile-menu-icon-bar"></span>
            </span>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
