<div class="slideshow">
  <div class="swiper-container swiper-slides js-slider">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="image">
          <img src="/assets/img/1920x800 fill.png" alt="Slide" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="overlay"></div>
        <div class="slide-content">
          <div class="grid-container">
            <div class="grid-x">
              <h2 class="title">The quick brown fox jumps over the lazy dog.</h2>
            </div>
          </div>
        </div>
        <div class="image">
          <img data-interchange="[assets/img/1920x800 fill.png, small], [assets/img/1920x800 fill.png, large]" alt="Slide" />
        </div>
      </div>
    </div>
  </div>
</div>
